
body {
  margin: 0;
  display: flex;
text-align: center;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}